<div class="boardPage">
   <div>
    <h1 class="center-align-header">Check Out Our Community Posts!</h1>
</div>
<div>
<div class="mainBoardContainer">
<div class="boardCard">
    <div class="postText"></div>
    <div class="pin"></div>
</div>
<div class="boardCardAlt">
    <div class="pin2"></div>
</div>
<div class="boardCardAlt2">
    <div class="pin3"></div>
</div>
<div class="boardCardAlt3">
    <div class="pin4"></div>
</div>

</div>

</div> 
</div>
