<h1>Welcome to MaestroBoard!</h1>

<lead> Are you looking for an instrument? Do you have one to sell? </lead>
<lead> Do you need a band mate to rock out with?  </lead>

<p>Well look no further than MAESTROBOARD! A site where you can find the people and instruments
    you need to fulfill your wildest garage-band dreams! Click the "Make a Post" button 
    to sell your instrument, tell us about the want you want to buy, or find your next
    great guitarist. Click the "View the Board" button to see what others are selling, or the 
    the band mates they're looking for! Happy posting and rock on!
</p>

<button type="button" class="btn btn-danger">Make a Post</button>

<button type="button" class="btn btn-danger">View the Board</button>