<h1 class="center-align-header">Make your MaestroBoard Post!</h1>
<br>
<br>
<div id="main_block" class="makePost">
  <form>
  <div class="form-group post-form">
    <label for="exampleFormControlInput1">Name</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email Address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <br>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Are you looking to:</label>
  <div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
  <label class="form-check-label" for="exampleRadios1">
    Buy an Instrument
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
  <label class="form-check-label" for="exampleRadios2">
    Sell an Instrument
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
  <label class="form-check-label" for="exampleRadios3">
    Find a Band Mate
  </label>
</div>
<br>
<br>
   <div class="form-group" id="musicOpt">
    <label for="exampleFormControlSelect1">Instrument Options:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Guitar</option>
      <option>Piano</option>
      <option>Trumpet</option>
      <option>Saxophone</option>
      <option>Bass</option>
      <option>Violin</option>
      <option>Clarinet</option>
      <option>Option 8</option>
      <option>Option 9</option>
      <option>Option 10</option>
    </select>
  </div>
     <div class="form-group" id="musicGenre">
    <label for="exampleFormControlSelect1">Music Genre:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Rock</option>
      <option>Classical</option>
      <option>Jazz</option>
      <option>R and B</option>
      <option>Pop</option>
      <option>Hip Hop</option>
      <option>Heavy Metal</option>
      <option>Alternative</option>
      <option>Option 9</option>
      <option>Option 10</option>
    </select>
  </div>
      <div class="form-group" id="bandMate">
    <label for="exampleFormControlSelect1">Band Position:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Bassist</option>
      <option>Guitarist</option>
      <option>Pianist</option>
      <option>Lead Singer</option>
      <option>Backup Singer</option>
      <option>Drummer</option>
      <option>Violinist</option>
      <option>Option 8</option>
      <option>Option 9</option>
      <option>Option 10</option>
    </select>
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of Instrument being Sold</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description of Bandmate Desired</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="btn btn-large btn-primary">Submit post!</div>
</form>
</div>


